*target*
*.jar
*.war
*.class
*.bak

*/buildNumber.properties
*/*/buildNumber.properties
ecat/src/main/resources/version.properties

.project
*/.project
.classpath
*/.classpath
.gitignore
*/.gitignore

*.settings/
*/.settings/*

#Intellij 
#*.iml (.iml)
#.idea(/.idea)
search/
.idea/
ecat/metastore_db/
*.iml
